<script setup lang="ts">
import { useRouter } from 'vue-router'
import InputText from '../../components/input.vue'
import { useLogin, useLocalStorage } from '../../composables'
import { api, auth } from '../../providers/api'
import AuthLayout from './components/auth-layout.vue'
import { useMutation } from '@tanstack/vue-query'
import { useAuthStore } from '../../stores'

const { handleSubmit, values } = useLogin()
const router = useRouter()
const store = useAuthStore()

const { setStoredValue: setToken } = useLocalStorage<string>('token4455', '')
const { setStoredValue: setUser } = useLocalStorage<string>('usuario4455', '')

const loginMutation = useMutation({
    mutationFn: (login: any) => api.post('/usuarios/login', login),
    onSuccess: async ({ data }) => {
        setUser(await data)
        store.setUser(await data)
        router.push('/')
    },
})

const tokenMutation = useMutation({
    mutationFn: () => auth.post('', 'grant_type=client_credentials'),
    onSuccess: async ({ data }) => {
        const token = await data.access_token
        setToken(token)
        api.defaults.headers.common['Authorization'] = `Bearer ${token}`
        await loginMutation.mutateAsync(values)
    },
})

const onSubmit = handleSubmit(() => {
    loginMutation.mutateAsync(values)
})
</script>

<template>
    <AuthLayout>
        <div class="h-[420px] w-[450px] border z-20 rounded-lg bg-white">
            <div class="flex flex-col items-center py-10 px-8 w-full">
                <span class="text-4xl text-secondary">Login </span>
                <form class="form-control w-full" @submit.prevent="onSubmit">
                    <InputText
                        required
                        name="email"
                        label="Email"
                        type="email"
                    />
                    <InputText
                        required
                        name="senha"
                        type="password"
                        label="Senha"
                    />
                    <div class="w-full pt-2 items-center flex flex-col gap-y-2">
                        <button
                            class="btn btn-secondary text-white w-full"
                            @click="tokenMutation.mutate()"
                        >
                            Entrar
                        </button>
                        <span class="text-gray-400"
                            >Não tem uma conta?
                            <RouterLink to="/registro" class="text-secondary">
                                cadastre-se
                            </RouterLink>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </AuthLayout>
</template>
