<script setup lang="ts">
import InputText from '../../components/input.vue'
import AuthLayout from './components/auth-layout.vue'
import { useRegistro } from '../../composables'
import { useMutation } from '@tanstack/vue-query'
import { ref, computed, watch } from 'vue'
import { api } from '../../providers/api'
import Swal from 'sweetalert2'
import { useRouter } from 'vue-router'
import { viaCep } from '../../providers/viacep'

export interface ClienteAsaas {
    addressNumber?: string
    bairro?: string
    cep?: string
    cidadeId?: number
    complemento?: string
    cpfCnpj?: string
    email?: string
    logradouro?: string
    name?: string
    numero?: string
    phone?: string
}

const { handleSubmit, values, resetForm, setValues } = useRegistro()
const personType = ref('pf')
const router = useRouter()

const tipoPessoa = computed(() => {
    if (personType.value === 'pf') {
        return 1
    } else {
        return 2
    }
})

const clienteMutation = useMutation({
    mutationFn: (cliente: any) => api.post('/clientes', cliente),
    onError: ({ response }) => {
        const msgError =
            response.status < 500
                ? response.data.mensagemUsuario
                : `${response.statusText}: ${response.status}`
        Swal.fire({
            icon: 'error',
            title: 'Houve um erro!',
            text: msgError,
        })
    },
})

const clientAsaasMutation = useMutation({
    mutationFn: (cliente: ClienteAsaas) =>
        api.post('/clientes/pagamento', cliente),
})

const onSubmit = handleSubmit(async () => {
    await clienteMutation.mutateAsync({
        idTipoPessoa: tipoPessoa.value,
        idPerfil: 4,
        ...values,
    })

    await clientAsaasMutation.mutateAsync({
        name: values.nome || values.razaoSocial!,
        cpfCnpj: values.cpf || values.cnpj!,
        phone: values.telefone as string,
        ...values.enderecoClienteFormDto,
    })

    Swal.fire({
        icon: 'success',
        title: 'Cadastro realizado com sucesso!',
        text: 'Utilize seu email e a senha cadastrada para logar',
    }).then(() => router.push('/login'))
})

async function getAddress(cep: string) {
    const { data } = await viaCep.get(`/ws/${cep}/json/`)

    if (data.cep) {
        setValues({
            estado: data.uf,
            cidade: data.localidade,
            enderecoClienteFormDto: {
                bairro: data.bairro,
                complemento: data.complemento,
                cep: data.cep,
                logradouro: data.logradouro,
            },
        })
    }
}

watch(
    () => values.enderecoClienteFormDto?.cep,
    (cep) => {
        if (cep?.length === 9) {
            getAddress(cep)
        }
    }
)
</script>

<template>
    <AuthLayout>
        <div class="w-[90%] bg-white h-full lg:px-10 px-4 z-20 py-4">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col gap-y-2 pb-2">
                    <div class="text-[#DB9B35] font-light">
                        <router-link to="/">Home</router-link> > Cadastro
                    </div>
                    <div class="flex gap-y-6 flex-col">
                        <h3 class="text-secondary font-bold text-3xl">
                            Cadastro
                        </h3>
                        <span class="text-2xl text-secondary">Selecione</span>
                    </div>
                </div>

                <div>
                    <img src="../../assets/prado-group.svg" alt="" />
                </div>
            </div>
            <div class="w-full">
                <div class="flex gap-x-4">
                    <label class="label cursor-pointer gap-x-2">
                        <span class="label-text">Pessoa fisica</span>
                        <input
                            type="radio"
                            name="radio-10"
                            class="radio checked:bg-secondary"
                            value="pf"
                            v-model="personType"
                            @input="resetForm()"
                        />
                    </label>

                    <label class="label cursor-pointer gap-x-2">
                        <span class="label-text">Pessa juridica</span>
                        <input
                            type="radio"
                            name="radio-10"
                            class="radio checked:bg-secondary"
                            value="pj"
                            v-model="personType"
                            @input="resetForm()"
                        />
                    </label>
                </div>
            </div>

            <form @submit="onSubmit" class="flex flex-col">
                <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-x-6">
                    <div>
                        <InputText
                            required
                            name="nome"
                            :label="
                                personType === 'pf' ? 'Nome' : 'Razão Social'
                            "
                        />

                        <InputText
                            v-if="personType === 'pf'"
                            required
                            name="cpf"
                            mask="###.###.###-##"
                            label="CPF"
                        />
                        <InputText v-else required name="cnpj" label="CNPJ" />
                        <InputText
                            v-if="personType !== 'pf'"
                            required
                            name="inscricaoEstadual"
                            label="Inscrição Estadual"
                        />
                    </div>
                    <div>
                        <InputText
                            name="telefone"
                            mask="(##) #####-####"
                            label="Telefone"
                        />
                        <InputText required name="email" label="Email" />
                    </div>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-6">
                    <div class="col-span-full lg:col-span-6">
                        <InputText
                            type="password"
                            name="senha"
                            label="Senha"
                            required
                            :error="
                                values.senha !== values.confirmarSenha
                                    ? 'As senhas digitadas não coincidem'
                                    : undefined
                            "
                        />
                    </div>
                    <div class="col-span-full lg:col-span-6">
                        <InputText
                            type="password"
                            name="confirmarSenha"
                            label="Confirmar Senha"
                            required
                            :error="
                                values.senha !== values.confirmarSenha
                                    ? 'As senhas digitadas não coincidem'
                                    : undefined
                            "
                        />
                    </div>
                </div>
                <div class="flex flex-col w-full gap-x-6">
                    <h5 class="text-xl text-secondary">Endereço Residencial</h5>
                    <div class="grid grid-cols-1 lg:grid-cols-12 gap-x-6">
                        <div class="flex col-span-full lg:col-span-3 flex-col">
                            <InputText
                                name="enderecoClienteFormDto.cep"
                                mask="#####-###"
                                label="CEP"
                                required
                            />
                        </div>

                        <div class="col-span-full lg:col-span-9">
                            <InputText
                                name="enderecoClienteFormDto.logradouro"
                                label="Logradouro"
                                required
                            />
                        </div>

                        <div class="col-span-full lg:col-span-5">
                            <InputText
                                name="enderecoClienteFormDto.complemento"
                                label="Complemento"
                            />
                        </div>
                        <div class="col-span-full lg:col-span-7">
                            <InputText
                                name="enderecoClienteFormDto.bairro"
                                label="Bairro"
                                required
                            />
                        </div>

                        <div class="flex col-span-full lg:col-span-6 flex-col">
                            <InputText disabled name="cidade" label="Cidade" />
                        </div>

                        <div class="flex col-span-full lg:col-span-6 flex-col">
                            <InputText
                                disabled
                                required
                                name="estado"
                                label="Estado"
                            />
                        </div>
                    </div>

                    <div class="flex w-full py-4">
                        <button
                            type="submit"
                            class="btn btn-secondary w-full text-white"
                        >
                            Registrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </AuthLayout>
</template>
