<script setup lang="ts">
import { useRouter } from 'vue-router'
import NavBar from '../layout/nav-bar.vue'
import { useAuthStore, useCartStore } from '../stores'
import { toBRL } from '../utils'
import Swal from 'sweetalert2'

const cart = useCartStore()
const auth = useAuthStore()
const router = useRouter()

function onGoToCheckout() {
    if (auth.isAuthenticated) {
        router.push('/checkout')
    } else {
        Swal.fire({
            icon: 'info',
            title: 'Usuário não autenticado',
            text: 'Entre com sua conta para continuar.',
            confirmButtonText: 'Entrar',
        }).then(() => router.push('/login'))
    }
}
</script>
<template>
    <NavBar>
        <div class="px-2 lg:px-10 h-full flex-wrap flex w-full overflow-auto">
            <div class="bg-white w-full min-h-full px-4 lg:px-10 pt-4 pb-6">
                <div class="flex flex-col gap-y-2 pb-10">
                    <div class="text-secondary font-light">
                        <router-link to="/">Home</router-link> > Meu Carrinho
                    </div>
                    <h3 class="text-secondary font-bold text-3xl">
                        Meu Carrinho
                    </h3>
                </div>

                <template v-if="cart.totalItems">
                    <div class="overflow-x-auto w-full">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-black">Produto</th>
                                    <th class="text-black">Descricao</th>
                                    <th class="text-black">Desconto</th>
                                    <th class="text-black">Und. de Medida</th>
                                    <th class="text-black">Preço</th>
                                    <th class="text-black">Quantidade</th>
                                    <th class="text-black">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="produto in cart.items">
                                    <td class="py-8">
                                        <div class="flex justify-center">
                                            <img
                                                class="h-[50px] object-cover"
                                                :src="
                                                    'https://appdecasa.s3.us-east-2.amazonaws.com/produtos/' +
                                                    produto.produto.imagens[0]
                                                        .arquivo
                                                "
                                                alt="image produto"
                                            />
                                        </div>
                                    </td>
                                    <td>{{ produto.produto.descricao }}</td>
                                    <td>{{ toBRL(0) }}</td>
                                    <td>
                                        {{
                                            produto.produto.unidadeMedidaProduto
                                                .descricao
                                        }}
                                    </td>
                                    <td>
                                        {{
                                            toBRL(produto.valor * produto?.qtd!)
                                        }}
                                    </td>
                                    <td>
                                        <div
                                            class="flex items-center space-x-3"
                                        >
                                            <button
                                                :disabled="produto.qtd! <= 1"
                                                @click="
                                                    cart.chagenQtd(
                                                        produto.id,
                                                        -1
                                                    )
                                                "
                                                class="inline-flex disabled:cursor-not-allowed items-center justify-center p-1 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                                                type="button"
                                            >
                                                <span class="sr-only"
                                                    >Quantity button</span
                                                >
                                                <svg
                                                    class="w-3 h-3"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 18 2"
                                                >
                                                    <path
                                                        stroke="currentColor"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M1 1h16"
                                                    />
                                                </svg>
                                            </button>
                                            <div>
                                                <input
                                                    type="number"
                                                    class="w-6 text-gray-900 bg-white text-sm rounded-lg py-1"
                                                    placeholder="1"
                                                    required
                                                    :min="1"
                                                    disabled
                                                    v-model="produto.qtd"
                                                />
                                            </div>
                                            <button
                                                @click="
                                                    cart.chagenQtd(produto.id)
                                                "
                                                class="inline-flex items-center bg-white justify-center h-6 w-6 p-1 text-sm font-medium text-gray-500 border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                                                type="button"
                                            >
                                                <span class="sr-only"
                                                    >Quantity button</span
                                                >
                                                <svg
                                                    class="w-3 h-3"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 18 18"
                                                >
                                                    <path
                                                        stroke="currentColor"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M9 1v16M1 9h16"
                                                    />
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <button
                                            @click="
                                                cart.removeFromCart(produto.id)
                                            "
                                            class="border p-1 hover:bg-red-100 duration-300 border-red-500 rounded-full"
                                        >
                                            <v-icon
                                                class="h-5 w-5 text-red-500"
                                                name="hi-solid-trash"
                                            />
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="px-4 py-2 flex flex-col gap-y-4 border">
                        <div class="flex items-center justify-between">
                            <span>Desconto</span>
                            <span>R$ 0</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text-black text-4xl font-bold"
                                >Total</span
                            >
                            <span>{{ toBRL(cart.subtotal) }}</span>
                        </div>

                        <button
                            @click="onGoToCheckout"
                            class="btn btn-secondary capitalize text-lg text-white"
                        >
                            Fazer Pagamento
                        </button>
                    </div>
                </template>
                <div v-else class="text-gray-500 flex gap-y-5 flex-col">
                    Seu carrinho está vazio
                    <RouterLink class="text-secondary text-xl" to="/">
                        Ir para produtos
                    </RouterLink>
                </div>
            </div>
        </div>
    </NavBar>
</template>
