<script setup lang="ts">
import NavBar from '../layout/nav-bar.vue'
import { useAuthStore, useCartStore } from '../stores'
import { toBRL } from '../utils'
import { ref, computed } from 'vue'
import { api, pagamento } from '../providers/api'
import { useMutation, useQuery } from '@tanstack/vue-query'
import Input from '../components/input.vue'
import { getCurrentDay } from '../utils'
import axios from 'axios'
import { vMaska } from 'maska'
import Swal from 'sweetalert2'

interface PixResponse {
    paymentId: number
    dueDate: string
    status: string
    qrCode: string
    pixCopiaCola: string
    netValue: number
    value: number
}

const user = useAuthStore()
const cart = useCartStore()
const option = ref('cc')
const pix = ref<PixResponse>()
const validade = ref('')

const pagamentoPix = ref({
    customer: '',
    amount: null,
    dueDate: '',
    getdescription: '',
})

const pagamentoCc = ref({
    customer: '',
    value: null,
    dueDate: '',
    description: '',
    holderName: '',
    number: '',
    expiryMonth: '',
    expiryYear: '',
    ccv: '',
    remoteIp: '',
})

const pixMutation = useMutation({
    mutationFn: () =>
        pagamento.post('/v1/payments/pix', {
            ...pagamentoPix.value,
            amount: cart.subtotal,
            dueDate: getCurrentDay(),
            customer: customerMutation.data.value?.data.customer,
        }),
    onSuccess: async (response) => {
        const data = (await response.data) as PixResponse
        pix.value = data
    },
    onError: ({ response }) => {
        const msgError =
            response.status < 500
                ? response.data.mensagemUsuario
                : `${response.statusText}: ${response.status}`
        Swal.fire({
            icon: 'error',
            title: 'Houve um erro!',
            text: msgError,
        })
    },
})
const ccMutation = useMutation({
    mutationFn: () => {
        const [mes, ano] = validade.value.split('/')

        return pagamento.post('/v1/payments/card/new', {
            ...pagamentoCc.value,
            dueDate: getCurrentDay(),
            remoteIp: currentIp.value,
            value: cart.subtotal,
            expiryMonth: mes,
            expiryYear: ano,
            customer: customerMutation.data.value?.data.customer,
        })
    },
    onSuccess: () => {
        Swal.fire({
            icon: 'success',
            title: 'Pagamento realizado com sucesso!',
        })
        pagamentoCc.value = {
            customer: '',
            value: null,
            dueDate: '',
            description: '',
            holderName: '',
            number: '',
            expiryMonth: '',
            expiryYear: '',
            ccv: '',
            remoteIp: '',
        }
    },
    onError: ({ response }) => {
        const msgError =
            response.status < 500
                ? response.data.mensagemUsuario
                : `${response.statusText}: ${response.status}`
        Swal.fire({
            icon: 'error',
            title: 'Houve um erro!',
            text: msgError,
        })
    },
})

const customerMutation = useMutation({
    mutationFn: () => api.get(`/clientes/pagamento/cpf/${user?.user?.cpf}`),
})

const { data: ipify } = useQuery(['ip'], () =>
    axios.get('https://api64.ipify.org?format=json')
)

const currentIp = computed(() => ipify.value?.data.ip || '192.168.0.1')

const pixCodeInput = ref()

function copyPixCodeClick() {
    navigator.clipboard.writeText(pixCodeInput.value?.value)
}

async function onConfirm() {
    await customerMutation.mutateAsync()

    if (option.value === 'pix') {
        await pixMutation.mutateAsync()
    } else {
        await ccMutation.mutateAsync()
    }
}
</script>
<template>
    <NavBar>
        <div class="px-2 lg:px-10 h-full w-full overflow-auto">
            <div class="bg-white w-full min-h-full px-4 lg:px-10 pt-4 pb-6">
                <div class="flex flex-col gap-y-2 pb-10">
                    <div class="text-secondary font-light">
                        <router-link to="/">Home</router-link> > Pagamento
                    </div>
                    <h3 class="text-secondary font-bold text-3xl">Pagamento</h3>
                </div>

                <div
                    class="grid lg:grid-cols-2 gap-y-4 gap-x-6 flex-wrap overflow-auto"
                >
                    <div class="flex flex-col gap-y-6">
                        <div class="text-secondary font-light">
                            Forma de Pagamento
                        </div>
                        <ul
                            class="flex justify-center lg:justify-start gap-x-8 gap-y-4 flex-wrap"
                        >
                            <li class="lg:w-auto w-2/5">
                                <input
                                    type="radio"
                                    id="cc"
                                    name="cc"
                                    value="cc"
                                    class="hidden peer"
                                    required
                                    v-model="option"
                                />
                                <label
                                    for="cc"
                                    class="flex md:w-40 h-20 cursor-pointer hover:bg-secondary/20 border border-secondary rounded items-center justify-between p-5 text-gray-500 bg-white peer-checked:border-secondary peer-checked:text-secondary peer-checked:bg-secondary/30"
                                >
                                    <div
                                        class="flex flex-col h-full flex-1 justify-center items-center"
                                    >
                                        <v-icon
                                            class="h-8 w-8 text-secondary"
                                            name="hi-solid-credit-card"
                                        />
                                        <span>Cartão Crédito</span>
                                    </div>
                                </label>
                            </li>
                            <li class="lg:w-auto w-2/5">
                                <input
                                    type="radio"
                                    id="pix"
                                    name="pix"
                                    value="pix"
                                    class="hidden peer"
                                    required
                                    v-model="option"
                                />
                                <label
                                    for="pix"
                                    class="flex md:w-40 h-20 cursor-pointer hover:bg-secondary/20 border border-secondary rounded items-center justify-between p-5 text-gray-500 bg-white peer-checked:border-secondary peer-checked:text-secondary peer-checked:bg-secondary/30"
                                >
                                    <div
                                        class="flex flex-col h-full flex-1 justify-center items-center"
                                    >
                                        <v-icon
                                            class="h-8 w-8 text-secondary"
                                            name="md-pix"
                                        />
                                        <span>Pix</span>
                                    </div>
                                </label>
                            </li>
                        </ul>

                        <div class="flex flex-col gap-y-2">
                            <div v-if="option !== 'pix'">
                                <span class="text-secondary font-light"
                                    >Dados do Cartão</span
                                >

                                <div class="lg:w-5/6">
                                    <div>
                                        <label class="label">
                                            <span
                                                class="label-text text-gray-500"
                                                >Número do cartão
                                            </span>
                                        </label>
                                        <input
                                            v-model="pagamentoCc.number"
                                            type="text"
                                            v-maska
                                            data-maska="#### #### #### ####"
                                            placeholder="0000 0000 0000 0000"
                                            class="input input-bordered w-full input-secondary text-gray-900"
                                        />
                                    </div>

                                    <div>
                                        <label class="label">
                                            <span
                                                class="label-text text-gray-500"
                                                >Nome completo
                                            </span>
                                        </label>
                                        <input
                                            v-model="pagamentoCc.holderName"
                                            type="text"
                                            placeholder="Nome completo"
                                            class="input input-bordered w-full input-secondary text-gray-900"
                                        />
                                    </div>
                                </div>
                                <div class="flex gap-x-4">
                                    <div>
                                        <label class="label">
                                            <span
                                                class="label-text text-gray-500"
                                                >Validade
                                            </span>
                                        </label>
                                        <input
                                            v-maska
                                            data-maska="##/##"
                                            v-model="validade"
                                            type="text"
                                            placeholder="00/00"
                                            class="input input-bordered w-full input-secondary text-gray-900"
                                        />
                                    </div>

                                    <div>
                                        <div>
                                            <label class="label">
                                                <span
                                                    class="label-text text-gray-500"
                                                    >CVV
                                                </span>
                                            </label>
                                            <input
                                                v-maska
                                                data-maska="###"
                                                v-model="pagamentoCc.ccv"
                                                type="text"
                                                placeholder="000"
                                                class="input input-bordered w-full input-secondary text-gray-900"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="pix && option === 'pix'"
                                class="w-full py-4 flex flex-col justify-center items-center"
                            >
                                <div class="flex flex-col items-center">
                                    <span class="font-bold"
                                        >Valor da Compra:</span
                                    >
                                    <span class="text-secondary text-2xl">{{
                                        toBRL(pix.value)
                                    }}</span>
                                </div>
                                <img
                                    class="w-1/2"
                                    :src="'data:image/*;base64, ' + pix?.qrCode"
                                    alt=""
                                />
                                <input
                                    ref="pixCodeInput"
                                    :value="pix?.pixCopiaCola"
                                    type="text"
                                />
                                <button
                                    class="btn"
                                    @click="copyPixCodeClick()"
                                    type="button"
                                >
                                    Copiar código
                                </button>
                                <span class="text-justify w-full max-w-xs"
                                    >Para pagar, acesse seu banco, clique em
                                    Pagar com Pix, aponte seu celular e leia o
                                    QR-CODE</span
                                >
                            </div>
                        </div>
                    </div>
                    <div
                        v-if="!!cart.items.length"
                        class="flex flex-col relative"
                    >
                        <div class="absolute right-0">
                            <img
                                src="../assets/cartoes.svg"
                                alt="bandeiras cartao"
                            />
                        </div>
                        <div class="text-secondary font-light">
                            Seus pedidos
                        </div>
                        <template v-if="cart.totalItems">
                            <div class="overflow-x-auto w-full">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-black">Produto</th>
                                            <th class="text-black">
                                                Descricao
                                            </th>
                                            <th class="text-black">
                                                Und. de Medida
                                            </th>
                                            <th class="text-black">Preço</th>
                                            <th class="text-black">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="produto in cart.items">
                                            <td class="py-8">
                                                <div
                                                    class="flex justify-center"
                                                >
                                                    <img
                                                        class="h-[50px] object-cover"
                                                        :src="
                                                            'https://appdecasa.s3.us-east-2.amazonaws.com/produtos/' +
                                                            produto.produto
                                                                .imagens[0]
                                                                .arquivo
                                                        "
                                                        alt="image produto"
                                                    />
                                                </div>
                                            </td>
                                            <td>
                                                {{ produto.produto.descricao }}
                                            </td>
                                            <td>
                                                {{
                                                    produto.produto
                                                        .unidadeMedidaProduto
                                                        .descricao
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    toBRL(
                                                        produto.valor *
                                                            produto?.qtd!
                                                    )
                                                }}
                                            </td>

                                            <td>
                                                <button
                                                    @click="
                                                        cart.removeFromCart(
                                                            produto.id
                                                        )
                                                    "
                                                    class="border p-1 hover:bg-red-100 duration-300 border-red-500 rounded-full"
                                                >
                                                    <v-icon
                                                        class="h-5 w-5 text-red-500"
                                                        name="hi-solid-trash"
                                                    />
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="px-4 py-2 flex flex-col gap-y-4 border">
                                <div class="flex items-center justify-between">
                                    <span class="text-black text-4xl font-bold"
                                        >Total da Compra</span
                                    >
                                    <span class="text-2xl">{{
                                        toBRL(cart.subtotal)
                                    }}</span>
                                </div>

                                <button
                                    @click="onConfirm"
                                    class="btn btn-secondary capitalize text-lg text-white"
                                >
                                    <span
                                        v-if="
                                            pixMutation.isLoading.value ||
                                            ccMutation.isLoading.value
                                        "
                                        class="loading loading-spinner"
                                    ></span>
                                    Confirmar Pedido
                                </button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </NavBar>
</template>
