<script setup lang="ts">
// @ts-ignore
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/vue-splide/css'
import { ref, computed } from 'vue'

import ProductCard from '../components/product-card.vue'
import HeroCamarao from '../components/hero-camarao.vue'
import HeroSalmao from '../components/hero-salmao.vue'
import HeroPescada from '../components/hero-pescada.vue'

import NavBar from '../layout/nav-bar.vue'
import Input from '../components/input.vue'
import { useQuery } from '@tanstack/vue-query'
import { api, auth } from '../providers/api'

import { Carrinho } from '../services'

const { data: produtos } = useQuery(['produtos-lojista'], () =>
    api.get<Carrinho>('lojistasProdutos/lojista/63')
)
useQuery(['token'], () => auth.post('', 'grant_type=client_credentials'), {
    onSuccess: async ({ data }) => {
        const token = await data.access_token
        api.defaults.headers.common['Authorization'] = `Bearer ${token}`
    },
})

const form = ref({
    nome: '',
    email: '',
    telefone: '',
    estado: '',
    cidade: '',
    atuacao: '',
})

const mailBody = computed(
    () =>
        `mailto:vendas@pradomstecnologia.com.br?subject=Contato%20Importadora&body=Nome: ${form.value.nome}%0D%0AEmail: ${form.value.email}%0D%0ATelefone: ${form.value.telefone}%0D%0AEstado: ${form.value.estado}%0D%0ACidade: ${form.value.cidade}%0D%0AÁrea%20de%20atuação: ${form.value.atuacao}`
)
</script>

<template>
    <NavBar>
        <Splide
            :options="{
                rewind: true,
                type: 'loop',
                autoplay: true,
                perPage: 1,
                interval: 4000,
            }"
        >
            <SplideSlide>
                <HeroSalmao />
            </SplideSlide>
            <SplideSlide>
                <HeroCamarao />
            </SplideSlide>
            <SplideSlide>
                <HeroPescada />
            </SplideSlide>
        </Splide>

        <div id="salmao" class="text-lg h-screen flex flex-col text-white">
            <div class="bg-secondary relative">
                <div
                    class="w-80 lg:flex hidden justify-center items-center h-12 bg-secondary rounded-t-2xl absolute -top-12 left-44"
                >
                    <span class="text-3xl font-bold">Salmão </span>
                </div>
                <div
                    class="flex flex-row py-20 gap-y-4 justify-center gap-x-8 flex-wrap"
                >
                    <ProductCard
                        v-for="item in produtos?.data.content"
                        :key="item.id"
                        :id="item.id"
                        :label="item.produto.descricao"
                        :price="item.valor"
                        :img="
                            'https://appdecasa.s3.us-east-2.amazonaws.com/produtos/' +
                            item.produto.imagens[0].arquivo
                        "
                        :product-item="item"
                    />
                </div>
            </div>
            <div id="receitas" class="bg-primary relative">
                <div
                    class="w-80 lg:flex hidden justify-center items-center h-12 bg-primary rounded-t-2xl absolute -top-12 left-44"
                >
                    <span class="text-3xl font-bold">Receitas</span>
                </div>
                <div
                    class="flex flex-row py-20 gap-y-4 !overflow-auto justify-center flex-wrap gap-x-8"
                >
                    <ProductCard
                        id="1"
                        button-label="ver receita"
                        label="Salmão no forno"
                        price="25 minutos"
                    />
                    <ProductCard
                        id="2"
                        button-label="ver receita"
                        label="Salmão com creme"
                        price="01 hora"
                    />
                    <ProductCard
                        id="3"
                        button-label="ver receita"
                        label="Sushi de salmão"
                        price="30 minutos"
                    />
                    <ProductCard
                        id="4"
                        button-label="ver receita"
                        label="Salmão no forno"
                        price="25 minutos"
                    />
                </div>
            </div>
            <div class="h-full bg-secondary relative">
                <div
                    class="w-80 lg:flex hidden justify-center items-center h-12 bg-secondary rounded-t-2xl absolute -top-12 left-44"
                >
                    <span class="text-3xl font-bold">Certificados</span>
                </div>
                <div
                    class="flex w-full flex-wrap flex-row gap-y-4 justify-center py-20 gap-x-8"
                >
                    <img src="../assets/certificado3.svg" class="w-72" />
                    <img src="../assets/certificado4.svg" class="w-72 h-32" />
                    <img src="../assets/certificado1.svg" class="w-72" />
                    <img src="../assets/certificado2.svg" class="w-72" />
                </div>
            </div>

            <div class="h-full bg-[#E9E9FF] relative px-20">
                <div class="flex flex-row py-20 gap-x-8 w-full">
                    <div
                        class="z-20 flex justify-end relative w-full px-10 py-12"
                    >
                        <div
                            class="bg-[#E8E2E2]/80 w-1/2 border to-transparent shadow"
                        >
                            <div class="form-control w-full px-8 py-10">
                                <form class="w-full">
                                    <div class="mb-6">
                                        <label
                                            class="block mb-2 text-sm font-medium text-gray-900"
                                            >Nome</label
                                        >
                                        <input
                                            required
                                            type="text"
                                            v-model="form.nome"
                                            class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        />
                                    </div>
                                    <div class="flex gap-x-4">
                                        <div class="mb-6 w-1/2">
                                            <label
                                                class="block mb-2 text-sm font-medium text-gray-900"
                                                >Email</label
                                            >
                                            <input
                                                required
                                                v-model="form.email"
                                                class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            />
                                        </div>
                                        <div class="mb-6 w-1/2">
                                            <label
                                                class="block mb-2 text-sm font-medium text-gray-900"
                                                >Telefone</label
                                            >
                                            <input
                                                required
                                                v-model="form.telefone"
                                                class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            />
                                        </div>
                                    </div>

                                    <div class="flex gap-x-4">
                                        <div class="mb-6 w-1/2">
                                            <label
                                                class="block mb-2 text-sm font-medium text-gray-900"
                                                >Estado</label
                                            >
                                            <input
                                                required
                                                type="text"
                                                v-model="form.estado"
                                                class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            />
                                        </div>
                                        <div class="mb-6 w-1/2">
                                            <label
                                                class="block mb-2 text-sm font-medium text-gray-900"
                                                >Cidade</label
                                            >
                                            <input
                                                required
                                                type="text"
                                                v-model="form.cidade"
                                                class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            />
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <label
                                            class="block mb-2 text-sm font-medium text-gray-900"
                                            >Área de atuação
                                        </label>
                                        <input
                                            required
                                            v-model="form.atuacao"
                                            type="text"
                                            class="bg-transparent border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        />
                                    </div>
                                </form>

                                <div class="pt-4 w-full flex justify-center">
                                    <a
                                        :href="mailBody"
                                        class="btn bg-warning text-white w-full"
                                    >
                                        Faça seu pedido
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div
                            class="w-1/2 h-80 absolute bottom-40 -z-10 left-4 bg-[#00007E] rounded-tl-3xl text-5xl text-center font-bold rounded-br-3xl justify-center items-center flex"
                        >
                            <span class="max-w-xs"> Entre em Contato </span>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer p-8 bg-primary text-white">
                <aside class="h-full flex items-center">
                    <RouterLink to="/">
                        <img src="../assets/logo.svg" alt="prado logo" />
                    </RouterLink>
                </aside>
                <nav>
                    <header class="text-2xl text-center text-white">
                        Produtos
                    </header>
                    <a href="#salmao" class="link link-hover"
                        >Filé de salmão com pele</a
                    >
                    <a href="#salmao" class="link link-hover"
                        >Filé de salmão sem pele</a
                    >
                    <a href="#salmao" class="link link-hover"
                        >Porção filé 150g com pele</a
                    >
                    <a href="#salmao" class="link link-hover"
                        >Porção filé 150g sem pele</a
                    >
                </nav>
                <nav>
                    <header class="text-2xl text-white">Contatos</header>
                    <a class="link link-hover">(98) 98418 4447 / 3181 0447 </a>
                    <a class="link link-hover"
                        >vendas@pradomstecnologia.com.br</a
                    >
                    <a class="link link-hover">@Pradogroup</a>
                </nav>
            </footer>
            <div class="py-2 px-4 justify-between bg-secondary text-sm flex">
                <div>
                    Direitos reservados a Prado Group @{{
                        new Date().getFullYear()
                    }}
                </div>
                <div>Desenvolvido por PRADO MOBILE SYSTEMS TECNOLOGIA LTDA</div>
            </div>
        </div>
    </NavBar>
</template>
