<template>
    <div class="carousel-item flex w-full items-center h-full bg-primary">
        <div class="flex items-center justify-center w-full h-full">
            <div class="flex gap-y-3 flex-col">
                <h1 class="text-8xl font-bold text-white">Salmão</h1>
                <p
                    class="max-w-lg w-full font-extralight text-justify leading-relaxed text-[#F5F5F5]"
                >
                    Capturado nas águas cristalinas do Atlântico Norte, nosso
                    salmão é reconhecido por sua pureza e qualidade
                    excepcionais. Livre de poluentes e contaminantes, você pode
                    saborear cada mordida com a certeza de estar cuidando da sua
                    saúde. Junte-se a nós nessa jornada para descobrir o Salmão
                    do Atlântico Norte - um prazer para o paladar e um
                    investimento na sua saúde. Explore nossas receitas
                    exclusivas, dicas de preparo e informações nutricionais para
                    aproveitar ao máximo esse tesouro do oceano. Adicione um
                    toque de excelência culinária à sua vida hoje mesmo!
                </p>
                <a
                    href="#salmao"
                    class="w-full btn text-center border-0 bg-[#DB9B35] p-2 text-lg font-bold rounded-lg text-white"
                >
                    Faça seu pedido
                </a>
            </div>
            <img class="h-[700px]" src="../assets/salmao.svg" />
        </div>
    </div>
</template>
