<template>
    <div class="carousel-item flex w-full items-center h-full bg-primary">
        <div class="flex items-center justify-center w-full h-full">
            <div class="flex gap-y-3 flex-col max-w-sm">
                <h1 class="text-8xl font-bold text-white">Pescada Amarela</h1>
                <p
                    class="max-w-lg font-extralight text-justify w-full leading-relaxed text-[#F5F5F5]"
                >
                    Lorem ipsum nibh pharetra aenean a ut ante, congue euismod
                    id nibh venenatis facilisis justo, vel feugiat primis turpis
                    sem fringilla. sapien pulvinar ut tempor duis semper
                    consequat curae venenatis sed, aliquet ut accumsan euismod
                    molestie ut sagittis per sodales enim, quisque sociosqu eros
                    n
                </p>
                <a
                    href="#salmao"
                    class="w-full btn text-center border-0 bg-[#DB9B35] p-2 text-lg font-bold rounded-lg text-white"
                >
                    Faça seu pedido
                </a>
            </div>
            <img class="h-[700px]" src="../assets/pescada.svg" />
        </div>
    </div>
</template>
