<script setup lang="ts">
import { useField } from 'vee-validate'
import { twMerge } from 'tailwind-merge'
import { vMaska } from 'maska'

interface Props {
    name?: string
    type?: string
    label?: string
    class?: string
    mask?: string
    required?: boolean
    placeholder?: string
    disabled?: boolean
    error?: string
}

const props = defineProps<Props>()

const defaultClass = 'input input-bordered w-full input-secondary text-gray-900'

const { errorMessage, value, handleChange } = useField(() => props.name!)
</script>

<template>
    <label v-if="label" class="label">
        <span class="label-text text-gray-500"
            >{{ label }}
            <span v-if="required" class="text-red-500">*</span>
        </span>
    </label>
    <input
        v-maska
        :data-maska="mask"
        :class="twMerge(defaultClass, props.class)"
        @input="handleChange"
        :value="value"
        :type="type || 'text'"
        :placeholder="placeholder"
        :disabled="disabled"
    />
    <div class="label">
        <span class="label-text-alt text-red-500" name="email">{{
            errorMessage || error
        }}</span>
    </div>
</template>
