<script setup lang="ts">
import { useCartStore } from '../stores'
import { toBRL } from '../utils'

export interface Props {
    label: string
    buttonLabel?: string
    price: number | string
    img?: string
    productItem?: any
}

const props = withDefaults(defineProps<Props>(), {
    label: 'Filé de Salmão com pele',
    buttonLabel: 'Adicionar no carrinho',
    price: 'R$ 100,00 / kg',
})

const store = useCartStore()

function addCart() {
    if (props.productItem) {
        store.addToCart(props.productItem)
    }
}
</script>

<template>
    <div
        class="w-72 h-80 border border-white/20 bg-gradient-to-b from-white/20 to-transparent shadow-lg rounded-lg"
    >
        <div class="flex h-full flex-col justify-between p-3">
            <div class="flex flex-1 overflow-hidden flex-col">
                <img
                    class="h-[200px] object-contain"
                    v-if="$props.buttonLabel !== 'ver receita'"
                    :src="img"
                />
                <img
                    v-else
                    class="h-[65%]"
                    src="../assets/receita-card.png"
                    alt=""
                />
                <div class="flex-1 flex justify-end flex-col">
                    <div class="font-light truncate text-sm">{{ label }}</div>
                    <div class="flex justify-between">
                        <div>
                            {{
                                typeof price === 'number' ? toBRL(price) : price
                            }}
                        </div>
                        <div><v-icon class="h-8 w-8" name="hi-heart" /></div>
                    </div>
                    <div
                        class="btn btn-warning btn-wide text-white btn-sm"
                        @click="addCart"
                    >
                        {{ buttonLabel }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
