<template>
    <div
        class="flex flex-col min-h-screen relative bg-primary justify-center overflow-hidden items-center h-full"
    >
        <slot />

        <img
            src="../../../assets/peixe.svg"
            class="w-72 absolute left-0 top-20"
        />

        <img
            src="../../../assets/peixe.svg"
            class="w-72 absolute left-80 -bottom-0"
        />

        <div
            class="w-[450px] h-[450px] absolute -right-32 -top-32 rounded-full bg-[#DB9B35]"
        ></div>

        <div
            class="w-[450px] h-[450px] absolute -left-32 -bottom-32 rounded-full bg-primary brightness-150"
        ></div>
        <div
            class="w-[450px] h-[450px] absolute -right-10 -bottom-60 rounded-full bg-primary brightness-150"
        ></div>
    </div>
</template>
