<script setup lang="ts">
import { useQuery } from '@tanstack/vue-query'
import { useLocalStorage } from './composables'
import { api, auth } from './providers/api'
import { useAuthStore } from './stores'

const { setStoredValue: setToken } = useLocalStorage<string>('token4455', '')
const { storedValue: user } = useLocalStorage<string>('usuario4455', '')

useQuery(['token'], () => auth.post('', 'grant_type=client_credentials'), {
    onSuccess: async ({ data }) => {
        const token = await data.access_token
        setToken(token)
        api.defaults.headers.common['Authorization'] = `Bearer ${token}`
    },
})

const store = useAuthStore()
store.setUser(user.value)
</script>

<template>
    <RouterView />
</template>
