<script setup lang="ts">
import { useLocalStorage } from '../composables'
import { useAuthStore, useCartStore } from '../stores'
import { toBRL } from '../utils'

const { isAuthenticated } = useAuthStore()
const { setStoredValue: setUser } = useLocalStorage('usuario4455', '')
const store = useCartStore()

function logout() {
    setUser('')
    store.cleanCart()
    location.reload()
}
</script>
<template>
    <div class="flex flex-col min-h-screen bg-secondary">
        <div class="navbar bg-primary px-2 lg:px-10">
            <div class="navbar-start py-6">
                <RouterLink to="/">
                    <img
                        class="w-3/4 lg:w-full"
                        src="../assets/logo.svg"
                        alt="prado logo"
                    />
                </RouterLink>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal text-white text-lg px-1">
                    <li><a>Quem somos</a></li>
                    <li><a href="/#salmao">Produtos</a></li>
                    <li><a href="/#receitas">Receitas</a></li>

                    <li>
                        <RouterLink to="/checkout">
                            <label for="my-drawer-4"> Meus pedidos </label>
                        </RouterLink>
                    </li>
                </ul>
            </div>
            <div class="navbar-end">
                <a class="btn btn-ghost text-white">
                    <v-icon class="h-8 w-8" name="hi-heart" />
                </a>
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <label class="btn btn-ghost btn-sm text-white">
                                <v-icon
                                    class="h-8 w-8"
                                    name="hi-shopping-cart"
                                />
                            </label>
                            <span
                                v-if="store.totalItems"
                                class="badge badge-sm right-3 top-2 indicator-item"
                                >{{ store.totalItems }}</span
                            >
                        </div>
                    </label>
                    <div
                        tabindex="0"
                        class="z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow"
                    >
                        <div v-if="store.totalItems" class="card-body">
                            <span class="font-bold text-lg"
                                >{{ store.totalItems }} Itens</span
                            >
                            <span class="text-gray-500"
                                >Total: {{ toBRL(store.subtotal) }}</span
                            >
                            <div class="card-actions">
                                <RouterLink
                                    to="/carrinho"
                                    class="btn btn-secondary text-white btn-block"
                                >
                                    Ver carrinho
                                </RouterLink>
                            </div>
                        </div>
                        <div v-else class="card-body text-gray-500">
                            Seu carrinho está vazio
                        </div>
                    </div>
                </div>
                <div>
                    <span
                        v-if="isAuthenticated"
                        class="text-white lg:px-8 px-2 flex flex-col text-center"
                    >
                        <span class="text-sm">
                            {{ isAuthenticated?.nome?.split(' ')[0] }}
                        </span>
                        <span
                            @click="logout()"
                            class="text-sm btn btn-ghost btn-sm capitalize"
                        >
                            Sair
                        </span>
                    </span>
                    <RouterLink
                        v-else
                        to="/login"
                        class="btn btn-ghost text-white"
                    >
                        <v-icon class="h-8 w-8" name="hi-user" />
                    </RouterLink>
                </div>
            </div>
        </div>
        <div class="h-[calc(100vh-8rem)]">
            <slot />
        </div>
        <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-side">
                <label for="my-drawer-4" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-white text-base-content">
                    <div>
                        <h3 class="text-2xl text-secondary font-bold">
                            Meu carrinho
                        </h3>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th class="text-black">Produto</th>
                                    <th class="text-black">Vl.unt</th>
                                    <th class="text-black">Vl.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row 1 -->
                                <tr>
                                    <td class="py-8"></td>
                                    <td>2</td>
                                    <td>1000</td>
                                </tr>
                                <!-- row 2 -->
                                <tr>
                                    <td class="py-8"></td>
                                    <td>3</td>
                                    <td>3000</td>
                                </tr>
                                <!-- row 3 -->
                                <tr>
                                    <td class="py-8"></td>
                                    <td>4</td>
                                    <td>4000</td>
                                </tr>
                            </tbody>
                        </table>

                        <div></div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</template>
